@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body{
	background-color:#F2F7FF;
	color:#10151F;

	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 100;
	/*at least four fonts, fave font, windows font, mac font, general family font */
	font-size: 1.25rem; /* 16px = 1 rem */ /* 22px = 1 em */
	line-height: 150%; /* adjust as needed */
/*	color: #2a2a2a;*/
	/* typography */

	margin: 0;
	padding: 0;
	/* borders, spacing*/
}

a{
	color: #10151F;
	transition: color 0.3s;
}

a:hover{
	color: #E4A951;
}

.wrapper {
	background-color:#F2F7FF;

	/* max width 900px */
	width: 900px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 15px;
/*
	padding-right:40px;
	padding-left: 40px;
*/
	padding-bottom: 30px;
}

.site-nav-flex{
	font-family: "Chelsea Market", sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 32px;
	font-size: 20px;
	
/*	background:#E2E9F4;*/
	background:#313F5D;
	padding-top: 10px;
	top:0px;
	width: 100%;
	z-index: 1;

}

.site-nav-flex a{
/*	color:#4D5061;*/
	color: #91AECF;
	text-decoration: none;
	transition: color 0.3s;

}

.site-nav-flex a:hover{
	color: #FFFFFF;
	border: 0px;
}

.site-logo-image{
	width: 75px;
	
}

.overlay-text {
  	position: absolute;
  	top: 70%; 
  	left: 20%; 
  	transform: translate(-50%, -50%); 
/*  	color: #4a4e69; */
  	padding: 20px 20px; 
  	font-size: 20px; 
  	text-align: center;
}

.overlay-image{
	position: absolute;
  	top: 75%; 
  	left: 63%; 
  	transform: translate(-50%, -50%); 
/*  	color: #4a4e69; */
  	padding: 20px 20px; 
}

.primary-statement{
	font-family: "Chelsea Market", serif;
	width: 50px;
	color: white;
	font-weight: 100;
	font-size: 4em;
	line-height: 1.0;
}

.welcome{
	padding: 20px;
	display: grid;
	grid-template-columns: 66% 33%;
	font-size: 2rem;
	grid-gap: 20px;
/*	width:600px;*/
	line-height: 1.15;
}

.links{
/*	align-content: center;*/
	margin: auto;
	font-family: "Chelsea Market", serif;
	line-height: 2.5;
	text-align: center;
}

.links a{
	padding: 10px 15px;
	border-radius: 50px;
	text-decoration: none;
	border: solid medium #313F5D;
	color: #313F5D;
	transition: padding 0.3s, background 0.3s;
}

.links a:hover{
	background:#6380BC;
	padding: 15px 20px;
	
}

.statement{
	align-content: center;
	
}

.showcase-container{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 1rem 1rem;
	align-items:baseline;
}

.showcase-item{
	background:#313F5D;
	color: #E4A951;
	border-radius:20px;
	padding: 0px 20px;
	text-align: center;
}


.showcase-item img{
	border-radius: 20px;
}

.showcase-item h3{
	text-align: center;
	font-family: "Chelsea Market", sans-serif;
	font-weight: 100;
	font-size: 2rem;
}

.showcase h2{
	text-align: center;
	padding: 20px 0px 20px;
}

.showcase-item p{
	font-size: 1rem;
	color: #91AECF;
	text-align: center;
}

.showcase-item a{
	color: #E4A951;
	text-decoration: none;

}

.showcase-item a:hover{
	color:white;
}

.showcase-item i{
	font-size: 50px;
	transition: transform 0.5s;
}

.showcase-item i:hover{
	color:white;
	transform: scale(1.5);
}

.sky-container{
	text-align: center;
}

.sky-container img{
	width: 100%;
	margin:auto;
}

.history-text{
	width: 50px;
	text-align: center;
	line-height: 1.5;
	position: absolute;
  	top: 70%; 
  	left: 20%; 
  	transform: translate(-50%, -50%); 
/*  	color: #4a4e69; */
  	padding: 20px 20px; 
  	font-size: 2.5rem; 
	font-family: "Chelsea Market", sans-serif;
	
}

.winner-container{
	display: grid;
	grid-template-columns: 500px auto;
	gap: 30px;
}

.winner-image img{
	width: 500px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #91AECF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #668EBC;
}

.contact {
  border-radius: 5px;
/*  background-color: #91AECF;*/
  padding: 20px;
}

#fname, #lname{
	width: 30%;
}

#message{
	width: 100%;
/*	padding: 50px;*/
	margin: 8px 0px;
	height: 150px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
	padding: 12px 20px;
	font-family: Arial, "sans-serif";
}

label{
	display: block;
}

.contact-container{
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 10px;
}

.social{
	font-size: 2.5rem;
	padding: 0px 5px;
	color: #E4A951;
}

.social:hover{
	color: #EEC993;
}

.social-media{
	text-align: center;
		
}

#demo{
	font-family: "Chelsea Market", "sans-serif";
	background: #91AECF;
	border-radius: 20px;
	width: 200px;
	padding: 5px;
	text-align: center;
	display: block;
 	 margin-left: auto;
 	 margin-right: auto;
}

.compete-open{
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

.awards{
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

.awards img{
	width: 500px;
	border-radius: 20px;
}
#rr{
	border-radius: 20px;
}

.entry{
	font-size: 2rem;
	text-align: center;
}

#map-div {
width: 900px;
height: 500px;
border: solid #bababa 1px;
border-radius: 5px;
}


#map-legend{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1000;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 3px;
	padding: 5px 10px;
	box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
	background: #FFFFFF;
	width: 120px;
	height: 150px;
}

#map-legend p{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1rem;
	font-weight: 100;
}
#map-legend p, i{
	display: inline;
	line-height: 2.0;
}
#map-legend i{
	font-size:20px;
/*	color: #7A4C4C;*/
/*	display: inline;*/
}

#map-legend h4{
	font-family: "Chelsea Market", serif;
	color: #313F5D;
	font-size: 1.5rem;
/*	line-height: 0.1;*/
	text-align: center;
	margin: 0.2px 0px 0px 0px;
	font-weight: 100;
}

#map-legend hr{
	height: 1px;
	margin:0.2px 0px 0.7px 0px;
}

#artworks{
	color: #E4A951;
}

#workshops{
	color: #91AECF;
}

#extras{
	color: #313F5D;
}

#hope{
	text-align: center;
}

.about-container{
	display:grid;
	grid-template-columns: auto auto;
	gap: 10px;
}

#entry img{
	width: 400px;
	border-radius: 5px;
}

.winner-profile{
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.page-nav {
	width: fit-content;
	text-align: center;
	background: #E4A951;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	color: #10151F;
	
	
}
.page-nav a{
	text-decoration: none;
}
.page-nav a:hover {
	color:#f6fff8;
	text-decoration: none;
			
}

.footer{
	font-family: "Chelsea Market", serif;
	background: #313F5D;
	text-align: center;
	width: 100%;
	padding-top:3px;
	padding-bottom: 3px;
	left: 0;
  	bottom: 0;
	color: #91AECF;
}